:root {
  font-family: "Open Sans", "Noto Sans SC", Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  overflow: auto;
}

body {
  display: flex;
  margin: 0;
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: #1a1a1a;
  color: #f0f0f0;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 12px;
  background-clip: content-box;
  border: 2px solid transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 12px;
  height: 12px;
}
